.navbar__item {
  margin-right: 2.5rem;
  padding: 3px;
  font-size: 2.1rem;
  text-decoration: none;
  color: yellowgreen;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  font-family: 'Epilepsy Sans';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__item:hover {
  color: black;
  background-color: #9acd32;
}

@media screen and (max-width: 767px) {
  .navbar__item {
    padding: 0;
    margin: 0 0 20px;
    width: 100%;
  }
}
