.header__logo {
  font-size: 2rem;
  color: white;
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  max-width: 250px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 150px;
    height: auto;
  }
}
