.header__logo {
  font-size: 2rem;
  color: white;
  padding: 0;
  margin: 0 auto;
  overflow: visible;
  width: 250px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 150px;
  }
}
