.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .pagination {
    justify-content: space-between;
  }
}
