.search__button {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  display: inline-block;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.search__button:hover {
  background-color: var(--text-color);
  color: black;
}
