.card {
  margin: 0 auto;
  background: #cccccc;
  color: #000;
  overflow: hidden;
  width: 282px;
  height: 282px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
