.card__image {
  width: 282px;
  height: 282px;
  display: block;
  object-fit: cover;
  object-position: center;
  cursor: pointer;

  filter: brightness(70%);
  opacity: 0.8;
  transition: filter 0.3s, opacity 0.3s ease-in-out;
}

.card__image:hover {
  filter: none;
  opacity: 1;
}
