.search__field {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  border: 2px yellowgreen solid;
  outline: none;
  font-size: 30px;
  color: yellowgreen;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .search__field {
    width: 90%;
    margin-left: 10px;
  }
}
