.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.4s;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.popup__container {
  box-sizing: border-box;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

.popup__image {
  margin: 0 auto;
  object-fit: cover;
  display: block;
  height: 350px;
  width: 350px;
}

.popup__image-title {
  font-size: 22px;
  line-height: 1.25;
  color: rgb(65, 65, 65);
  margin: 1em auto 2em;
  max-width: 350px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup__copy-button {
  position: absolute;

  left: 15px;
  bottom: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
  height: 30px;
  width: auto;
  border: 1px solid black;
}

.popup__favourite-button {
  position: absolute;
  right: 15px;
  bottom: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
  height: 30px;
  width: auto;
  border: 1px solid black;
}

.popup__favourite-button_full {
  color: white;
  background-color: black;
}

.popup__copy-button_copied {
  background-color: yellowgreen;
  color: white;
}

@media screen and (max-width: 499px) {
  .popup__image {
    width: 320px;
    height: 320px;
  }
  .popup__image-title {
    font-size: 18px;
    max-width: 320px;
  }

  .popup__favourite-button,
  .popup__copy-button {
    font-size: 16px;
  }
}
